{% load i18n %}{% autoescape off %} 
{% blocktranslate %}Hi there, you asked to reset your password for your ProductPathPro account.{% endblocktranslate %}

{% translate "Just click the link below to set a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_set_new' uidb64=uid token=token %}
{% endblock %}

{% translate "Your username (in case you need it):" %} {{ user.get_username }}

{% translate "Thanks for being with us!" %}

{% blocktranslate %}Cheers,  
The ProductPathPro team{% endblocktranslate %}
{% endautoescape %}
