.env
.env.*
!.env.example

.git
.gitignore
.idea
venv*/
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

media/
staticfiles/

frontend/tracker_script/node_modules/
frontend/**/node_modules/
npm-debug.log
yarn-error.log

*.sqlite3
*.log

dist/
build/
