# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
!static/echarts/
!static/echarts/lib/
!static/echarts/lib/echarts.min.js
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Virtual Environment
venv/
venvl/
venvl/bin/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# Node (if using any frontend tools)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local 
/session_e0ecacd8-ba4f-4fe9-a698-2b3e1aceede4_events.json
/event_counts.txt
/.django_tailwind_cli/*.exe
/playground/192.168.0.49.crt
/playground/192.168.0.49.key
/playground/192.168.0.49.pem
static/css/output.css
package-lock.json
!frontend/tailwind/package-lock.json
package.json
