#  /etc/caddy/Caddyfile

app.productpathpro.com {
    reverse_proxy unix//opt/productpathpro/gunicorn.sock

    @trackingscript path /main.js /lib.min.js
    handle @trackingscript {
        root * /opt/productpathpro/frontend/tracker_script
        file_server
        header {
            Access-Control-Allow-Origin *
            Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
            Access-Control-Allow-Headers "Content-Type"
            Cache-Control "public, max-age=86400"
        }
    }

    encode gzip
}
