{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation Sent</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="icon" href="{% static 'svg/favicon.svg' %}" sizes="any" type="image/svg+xml" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17602717333"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'AW-17602717333')
    </script>
  </head>

  <body class="text-sm h-full bg-slate-50">
    <nav class="bg-white border-b border-gray-200 shadow-sm w-full h-12 pl-8 pr-2 flex items-center justify-between">
      <div class="flex items-center h-full">
        <img src="{% static 'svg/logo.svg' %}" />
      </div>
    </nav>
    <div class="flex flex-col items-center pt-20 text-center">
      <img src="{% static 'svg/sign-up-confirm.svg' %}" />
      <p class="text-md my-4 text-gray-900">Check the confirmation email we sent to</p>
      <p class="text-3xl font-bold text-gray-800 my-2">{{ email }}</p>
      <div class="text-sm text-center text-gray-500 mt-32">
        <a href="{% url 'sign_up' %}" class="font-medium text-blue-600 hover:underline">Restart sign-up</a>
      </div>
    </div>
  </body>
</html>
