{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Password</title>
        <link rel="stylesheet" href="{% static 'css/output.css' %}" />
        <link rel="icon" href="{% static 'svg/favicon.svg' %}" sizes="any" type="image/svg+xml">
    </head>

    <body class="text-sm h-full bg-slate-50">
        <nav
            class="bg-white border-b border-gray-200 shadow-sm w-full h-12 pl-8 pr-2 flex items-center justify-between">
            <!-- Left Section: Logo and Menu Items -->
            <div class="flex items-center h-full">
                <!-- Logo -->
                <img src="{% static 'svg/logo.svg' %}">
            </div>
        </nav>

        <!-- Main Container -->
        <div class="flex items-start justify-center min-h-screen pt-20">
            <!-- Grid Container for Form and Illustration -->
            <div
                class="grid grid-cols-1 md:grid-cols-2 items-center gap-6 sm:gap-12 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-40 max-w-5xl m-6">
                <!-- Left Side: Floating Login Form -->
                <div class="flex flex-col justify-center p-4 sm:p-8 bg-white shadow-2xl rounded-2xl">
                    <span class="mb-6 text-4xl font-bold">Reset password</span>
                    <form method="post">
                        {% csrf_token %}
                        <div class="py-2">
                            <input
                                autofocus
                                type="email"
                                id="id_email"
                                name="email"
                                placeholder="Enter your email"
                                value="{{ form.email.value|default:'' }}"
                                autocomplete="email" required
                                class="w-full p-3 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" />
                            {% if form.email.errors %}
                                <div class="text-red-600 text-sm mt-1">{{ form.email.errors.0 }}</div>
                            {% endif %}
                        </div>


                        <!-- Sign In Button -->
                        <button
                            type="submit"
                            class="w-full bg-blue-600 text-white p-4 rounded-lg mt-2 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 transition duration-300 ease-in-out transform">
                            Send reset email
                        </button>
                    </form>

                    <!-- Sign Up Link -->
                    <div class="text-center text-gray-500 mt-8">
                        <a href="{% url 'sign_in' %}" class="font-medium text-blue-600 hover:underline">Sign in</a>
                    </div>
                </div>

                <!-- Right Side: Illustration -->
                <div class="relative hidden md:flex items-center justify-center">
                    <img src="{% static 'svg/reset-password.svg' %}" width="400" height="400" />
                    <!-- You can replace the src with your own illustration URL -->
                </div>
            </div>
        </div>
    </body>
</html> 