{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="icon" href="{% static 'svg/favicon.svg' %}" sizes="any" type="image/svg+xml" />
  </head>

  <body class="text-sm h-full bg-slate-50">
    <!-- Navigation Bar -->
    <nav class="bg-white border-b border-gray-200 shadow-sm w-full h-12 pl-8 pr-2 flex items-center justify-between">
      <!-- Left Section: Logo and Menu Items -->
      <div class="flex items-center h-full">
        <!-- Logo -->
        <a href="/"><img src="{% static 'svg/logo.svg' %}" /></a>
      </div>
    </nav>

    <!-- Main Container -->
    <div class="flex items-start justify-center min-h-screen pt-20">
      <!-- Grid Container for Form and Illustration -->
      <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6 sm:gap-12 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-40 max-w-5xl m-6">
        <!-- Left Side: Floating Sign Up Form -->
        <div class="flex flex-col justify-center p-8 bg-white shadow-2xl rounded-2xl">
          <span class="mb-3 text-4xl font-bold">Join us!</span>
          <span class="font-light text-gray-400 mb-8">Create your free account in seconds.</span>

          <form method="post" action="{% url 'sign_up' %}">
            {% csrf_token %}

            <!-- Email Input -->
            <div class="py-2">
              <label for="{{ form.email.id_for_label }}" class="mb-2 text-md font-medium text-gray-700 sr-only">Email</label>
              <input autofocus type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" value="{{ form.email.value|default:'' }}" placeholder="Enter your email" autocomplete="email" required class="w-full p-3 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" />
              {% if form.email.errors %}
                <div class="text-red-600 text-sm mt-1">{{ form.email.errors.0 }}</div>
              {% endif %}
            </div>

            <!-- Password Input -->
            <div class="py-2">
              <label for="{{ form.password1.id_for_label }}" class="mb-2 text-md font-medium text-gray-700 sr-only">Password</label>
              <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" placeholder="Password, must be at least 8 characters" autocomplete="new-password" required minlength="8" class="w-full p-3 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" />
              {% if form.password1.errors %}
                <div class="text-red-600 text-sm mt-1">{{ form.password1.errors.0 }}</div>
              {% endif %}
            </div>

            <!-- Terms and Conditions -->
            <div class="flex items-start w-full py-4">
              <label for="terms" class="flex items-center text-sm text-gray-500 cursor-pointer">
                <input type="checkbox" name="terms" id="terms" required class="w-5 h-5 text-blue-600 border-gray-400 rounded focus:ring-blue-300" />
                <span class="ml-3">
                  I agree with
                  <a href="https://www.productpathpro.com/terms-of-use" class="text-blue-600 hover:underline" target="_blank" rel="noopener">Terms of Use</a>
                  and
                  <a href="https://www.productpathpro.com/privacy" class="text-blue-600 hover:underline" target="_blank" rel="noopener">Privacy Policy</a>
                </span>
              </label>
            </div>

            <!-- Sign Up Button -->
            <button class="flex items-center justify-center w-full p-4 mt-8 font-semibold text-green-900 bg-gradient-to-r from-green-400 to-teal-400 rounded-lg shadow-lg shadow-green-500/40 transform transition-all duration-300 hover:shadow-2xl hover:shadow-green-500/60 hover:scale-105 disabled:text-slate-500 disabled:shadow-none disabled:bg-none disabled:bg-slate-200">Sign up</button>
          </form>

          <!-- Sign In Link -->
          <div class="text-center text-gray-500 mt-8">
            Already have an account?
            <a href="{% url 'sign_in' %}" class="font-medium text-blue-600 hover:underline">Sign in</a>
          </div>
        </div>

        <!-- Right Side: Illustration -->
        <div class="relative hidden md:flex items-center justify-center">
          <img src="{% static 'svg/sign-up.svg' %}" width="400" height="400" />
        </div>
      </div>
    </div>
  </body>
</html>
