{% load static %}<!doctype html>
<html lang="en" class="min-w-0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'svg/favicon.svg' %}" sizes="any" type="image/svg+xml">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}"/>
  </head>

  <body class="text-sm min-h-screen bg-white">
    <!-- Top nav -->
    <nav
      class="fixed top-0 left-0 right-0 z-10 h-12 bg-white border-b border-gray-200 shadow-sm px-4 pr-2 sm:px-8 flex items-center justify-between">
      <img src="{% static 'svg/logo.svg' %}" alt="Hymetry" />
    </nav>

    <!-- Main -->
    <main
      class="mt-12 min-h-[calc(100vh-3rem)] bg-cover bg-center bg-no-repeat"
      style="background-image: url('{% static 'img/set-admin-pwd.jpg' %}');">
      <div class="max-w-lg mx-auto px-8 py-10 sm:px-6 sm:py-16">
        <div class="rounded-lg bg-white px-6 py-10 shadow-[1px_265px_106px_rgba(44,179,206,0.01),0px_149px_90px_rgba(44,179,206,0.05),0px_66px_66px_rgba(44,179,206,0.09),0px_17px_36px_rgba(44,179,206,0.1)] sm:px-8">
        <h1 class="text-3xl sm:text-4xl font-semibold tracking-tight text-gray-900">
          Welcome to Hymetry!
        </h1>

        <h2 class="text-base sm:text-lg mt-8 sm:mt-12">Set up your admin password</h2>



        <form class="mt-2" method="post" action="{% url 'users:create_admin_account' %}">
          {% csrf_token %}
          <div class="py-2">
            <label for="email" class="sr-only">Email</label>
            <input
              required
              autofocus
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email"
              class="w-full p-3 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" />
          </div>

          <div class="py-2">
            <label for="password" class="sr-only">Password</label>
            <input
              required
              minlength="8"
              type="password"
              id="password"
              name="password"
              placeholder="Password, must be at least 8 characters"
              class="w-full p-3 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" />
          </div>
          {% if messages %}
            <div class="text-red-600 text-sm my-2">
            {% for message in messages %}
              {{ message }}<br>
            {% endfor %}
            </div>
          {% endif %}
          <div
          class="mt-2 bg-sky-100 border border-sky-200 text-sky-800 rounded-lg p-4 sm:p-5"
          role="alert"
          tabindex="-1"
          aria-labelledby="hs-soft-color-info-label">
          <span id="hs-soft-color-info-label" class="font-bold">
            Write down this password
          </span>
          somewhere, there is no way to reset it and we won't be able to help you if you loose it.
        </div>

          <div class="flex items-start w-full py-4">
            <div class="flex items-center h-5">
              <input
                required
                type="checkbox"
                name="terms"
                id="terms"
                class="w-5 h-5 sm:w-6 sm:h-6 border border-gray-400 rounded bg-gray-50" />
            </div>
            <div class="ml-3">
              <label for="terms" class="text-gray-500">
                I agree with the
                <a href="https://www.hymetry.com/oss-terms" class="text-blue-600 hover:underline">Terms of Use</a>
              </label>
            </div>
          </div>
          <button type="submit"
            class="flex items-center justify-center w-full p-4 mt-6 sm:mt-8 font-semibold text-green-900 bg-gradient-to-r from-green-400 to-teal-400 rounded-lg shadow-lg shadow-green-500/40 transform transition-all duration-300 hover:shadow-2xl hover:shadow-green-500/60 hover:scale-105">
            Create admin account
          </button>
        </form>
        </div>
      </div>
    </main>
  </body>
</html>
