{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{% static 'svg/favicon.svg' %}" sizes="any" type="image/svg+xml" />
        <link rel="preload" href="/static/fonts/InterVariable.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/table-tooltips.css' %}" type="text/css" />
        <title>{% block title %}Hymetry Alpha App{% endblock %}</title>

{% block extra_js %}{% endblock %}
    </head>

    <body {% block body_classes %} class="text-sm h-full bg-slate-50" {% endblock %}>
    {% block nav %}
        {% if user.is_authenticated %}
            {% include 'projects/partials/project_top_nav.html' %}
        {% else %}
            <nav class="fixed top-0 left-0 z-10 right-0 bg-white border-b border-gray-200 shadow-sm w-full h-12 pl-8 pr-2 flex items-center">
                <div class="flex items-center h-full">
                    <a href="/"><img src="{% static 'svg/logo.svg' %}" alt="Hymetry" /></a>
                </div>
            </nav>
        {% endif %}
    {% endblock %}

{% block content %}
{% endblock %}

        <script src="{% static 'js/shared/analytics-tooltips.js' %}"></script>
        <script src="{% static 'js/modals.js' %}"></script>
        <script src="{% static 'js/dropdowns.js' %}"></script>
    </body>
</html>
